<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellow.photo.activity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <activity
        android:name="com.yellow.photo.activity.AlbumActivity"
        android:screenOrientation="portrait" />
    <activity android:name="com.yellow.photo.activity.GalleryActivity"></activity>
    <activity android:name="com.yellow.clippic.ClipImgActivity"></activity>


</manifest>